<div>

  <div>
    <label class="input-padding" for="startIncome">Starting Income</label>
    <div>
      <input id="startIncome" [(ngModel)]="StartIncome" (change)="StartIncomeChange($event)" type="number" />
    </div>
  </div>

  <div>
    <label class="input-padding" for="incomeGrowth">Income Growth Percentage</label>
    <div>
      <input id="incomeGrowth" [(ngModel)]="IncomeGrowth" type="number" />
    </div>
  </div>

  <div>
    <label class="input-padding" for="investPercentage">Invest percentage</label>
    <div>
      <input id="investPercentage" [(ngModel)]="InvestPercentage" type="number" />
    </div>
  </div>



  <div>
    <label class="input-padding" for="investmentGrowth">Investment Growth Percentage</label>
    <div>
      <input id="investmentGrowth" [(ngModel)]="InvestmentGrowth" type="number" />
    </div>
  </div>

  <div>
    <label class="input-padding" for="durationOfTime">Duration of Time in years</label>
    <div>
      <input id="durationOfTime" [(ngModel)]="Duration" type="number" />
    </div>
  </div>

  <button (click)="calculate()">Run numbers</button>


  <div *ngIf="HasBeenCalculated">
      <table>
        <thead>
          <tr>
            <th>
              Year
            </th>
            <th>
              Income
            </th>
            <th>
              Income Spent/Saved
            </th>
            <th>
              Total amount invested
            </th>
            <th>
              Year investment growth
            </th>
          </tr>
        </thead>
        <tr *ngFor="let rowData of DataSet">
          <td>
            {{rowData.Year}}
          </td>
          <td>
            {{rowData.Income}}
          </td>
          <td>
            {{rowData.Split}}
          </td>
          <td>
            {{rowData.Invested}}
          </td>
          <td>
            {{rowData.YearInvestmentGrowth}}
          </td>
        </tr>
      </table>
  </div>
</div>
